// Place all the styles related to the Snotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
      margin: 3px 0;
      background-color: #f4511e;
      color: #fff;
  }

  .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }